# HW_01_Team7

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('iris.txt', sep= ',', header= None)
df.head()

     0    1    2    3                4
0  5.9  3.0  4.2  1.5  Iris-versicolor
1  6.9  3.1  4.9  1.5  Iris-versicolor
2  6.6  2.9  4.6  1.3  Iris-versicolor
3  4.6  3.2  1.4  0.2      Iris-setosa
4  6.0  2.2  4.0  1.0  Iris-versicolor

In [3]:
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'iris_name']
classes = LabelEncoder().fit_transform(df['iris_name'])
df['class'] = classes
df.head()

,sepal_length,sepal_width,petal_length,petal_width,iris_name,class
0,5.9,3.0,4.2,1.5,Iris-versicolor,1
1,6.9,3.1,4.9,1.5,Iris-versicolor,1
2,6.6,2.9,4.6,1.3,Iris-versicolor,1
3,4.6,3.2,1.4,0.2,Iris-setosa,0
4,6.0,2.2,4.0,1.0,Iris-versicolor,1

In [4]:
df.loc[df.duplicated()]

,sepal_length,sepal_width,petal_length,petal_width,iris_name,class
67,4.9,3.1,1.5,0.1,Iris-setosa,0
120,5.8,2.7,5.1,1.9,Iris-virginica,2
134,4.9,3.1,1.5,0.1,Iris-setosa,0

In [5]:
df.drop(index=[67,120,134])

,sepal_length,sepal_width,petal_length,petal_width,iris_name,class
0,5.9,3.0,4.2,1.5,Iris-versicolor,1
1,6.9,3.1,4.9,1.5,Iris-versicolor,1
2,6.6,2.9,4.6,1.3,Iris-versicolor,1
3,4.6,3.2,1.4,0.2,Iris-setosa,0
4,6.0,2.2,4.0,1.0,Iris-versicolor,1
...,...,...,...,...,...,...
145,5.4,3.4,1.7,0.2,Iris-setosa,0
146,5.5,2.6,4.4,1.2,Iris-versicolor,1
147,6.7,3.0,5.2,2.3,Iris-virginica,2
148,7.7,3.8,6.7,2.2,Iris-virginica,2
149,5.1,3.4,1.5,0.2,Iris-setosa,0

In [6]:
df.mean(numeric_only=True)

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
class           1.000000
dtype: float64

In [7]:
df.median(numeric_only=True)

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
class           1.00
dtype: float64

In [8]:
df.mode()

,sepal_length,sepal_width,petal_length,petal_width,iris_name,class
0,5.0,3.0,1.5,0.2,Iris-setosa,0
1,NaN,NaN,NaN,NaN,Iris-versicolor,1
2,NaN,NaN,NaN,NaN,Iris-virginica,2

In [9]:
df.var(numeric_only=True)

sepal_length    0.685694
sepal_width     0.188004
petal_length    3.113179
petal_width     0.582414
class           0.671141
dtype: float64

In [10]:
df.std(numeric_only=True)

sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
class           0.819232
dtype: float64

In [11]:
df.cov(numeric_only=True)

              sepal_length  sepal_width  petal_length  petal_width     class
sepal_length      0.685694    -0.039268      1.273682     0.516904  0.530872
sepal_width      -0.039268     0.188004     -0.321713    -0.117981 -0.148993
petal_length      1.273682    -0.321713      3.113179     1.296387  1.371812
petal_width       0.516904    -0.117981      1.296387     0.582414  0.597987
class             0.530872    -0.148993      1.371812     0.597987  0.671141

In [12]:
df.corr(numeric_only=True)

              sepal_length  sepal_width  petal_length  petal_width     class
sepal_length      1.000000    -0.109369      0.871754     0.817954  0.782561
sepal_width      -0.109369     1.000000     -0.420516    -0.356544 -0.419446
petal_length      0.871754    -0.420516      1.000000     0.962757  0.949043
petal_width       0.817954    -0.356544      0.962757     1.000000  0.956464
class             0.782561    -0.419446      0.949043     0.956464  1.000000

In [13]:
cov_matrix = df.cov(numeric_only=True)
tot_var = np.trace(cov_matrix)
gen_var = np.linalg.det(cov_matrix)
print('tot_var =',tot_var)
print('gen_var =',gen_var)

tot_var = 5.240432214765102
gen_var = 8.887612340171605e-05